:host {
  display: flex;
  height: 100%;
  margin: 0;
  background-color: cadetblue;
}

.tablet-size {
  display: flex;
  width: 1024px;
  height: 768px;
  margin: 0 auto;
  background-color: azure;
}
