app-avatar-circle {
  display: inline-block;
  width: 48px;
  height: 48px;
  vertical-align: middle;
  margin-right: 10px;
}

app-health-bar {
  display: inline-block;
  width: 200px;
  height: 25px;
  vertical-align: middle;
}

