<app-ui-element [top]="'0'" [right]="'0'" style="margin-right: 10px; margin-top: 10px;" *ngIf="showEnemy">
  <app-enemy [health]="health"></app-enemy>
</app-ui-element>

<app-ui-element [bottom]="'0'" [left]="'0'" style="margin-left: 10px; margin-bottom: 10px;">
  <app-player [playerName]="loggedUser.name"></app-player>
</app-ui-element>

<app-ui-element [top]="'380px'" [right]="'0'" style="margin-right: 10px;" *ngIf="showNextSceneButton">
  <app-next-scene-button (click)="loadNextScene()"></app-next-scene-button>
</app-ui-element>

<app-ui-element *ngIf="currentDialog && currentDialog.promptUser" (click)="loadScene(currentDialog.nextSceneNo)" [bottom]="'120px'" [right]="'100px'">
  <app-prompt-button [type]="'danger'" text="NO"></app-prompt-button>
</app-ui-element>

<app-ui-element *ngIf="currentDialog && currentDialog.promptUser" (click)="loadScene(currentDialog.nextSceneYes)" [bottom]="'120px'" [right]="'10px'">
  <app-prompt-button [type]="'info'" text="SI"></app-prompt-button>
</app-ui-element>

<app-ui-element (click)="nextDialog()" [bottom]="'0'" [right]="'0'" style="margin-bottom: 10px; margin-right: 10px" *ngIf="currentDialog">
  <app-dialog [dialog]="currentDialog"></app-dialog>
</app-ui-element>
