<app-ui-element [top]="'0'" [right]="'0'" style="margin-right: 10px; margin-top: 10px;">
  <app-enemy></app-enemy>
</app-ui-element>

<app-ui-element [bottom]="'0'" [left]="'0'" style="margin-left: 10px; margin-bottom: 10px;">
  <app-player [playerName]="loggedUser.name"></app-player>
</app-ui-element>

<app-ui-element [top]="'0'" [right]="'0'" style="margin-right: 50px; margin-top: 380px;" *ngIf="showNextSceneButton">
  <app-next-scene-button (click)="loadNextScene()"></app-next-scene-button>
</app-ui-element>

<app-ui-element *ngIf="currentDialog && currentDialog.promptUser" (click)="loadScene(currentDialog.nextSceneYes)" [bottom]="'120px'" [left]="'820px'">
  <app-prompt-button text="Si"></app-prompt-button>
</app-ui-element>

<app-ui-element *ngIf="currentDialog && currentDialog.promptUser" (click)="loadScene(currentDialog.nextSceneNo)" [bottom]="'120px'" [left]="'870px'">
  <app-prompt-button text="No"></app-prompt-button>
</app-ui-element>

<app-ui-element (click)="nextDialog()" [bottom]="'0'" [left]="'300px'" style="margin-bottom: 10px; margin-right: 10px" *ngIf="currentDialog">
  <app-dialog [dialog]="currentDialog"></app-dialog>
</app-ui-element>
