:host {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d8e2ea;
  position: relative;
}

.login-container {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  box-shadow: 2px 2px 9px -3px rgba(0, 0, 0, 0.37);

  .logo {
    width: 100%;
    margin-bottom: 1rem;
  }
  .login-form {
    display: flex;
    flex-direction: column;
  }
}

.form-input {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 5px;
}

.admin-link {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background-color: #80A2BB;
  color: white;
  padding: 0.5rem;
  border-radius: 5px;
  &:hover {
    background-color: #6e8ca5;
  }
}
