app-avatar-circle {
  width: 72px;
  height: 72px;
  vertical-align: middle;
  display: inline-block;
}

span {
  margin-left: 15px;
  vertical-align: middle;
  display: inline-block;
  color: white;
}
