$page-background-color: #d8e2ea;
$event-even-background-color: whitesmoke;
$event-odd-background-color: white;

:host {
  width: 100%;
  background-color: $page-background-color;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #80A2BB;
  color: white;
  .page-title {
    font-size: 1.5rem;
    font-weight: bold;
  }
}

.event {
  background-color: $event-even-background-color;
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 1rem;
  &:nth-child(odd) {
    background-color: $event-odd-background-color;
  }
}

.return-link {
  background-color: ghostwhite;
  padding: 0.5rem;
  a {
    color: black;
    text-decoration: none;
  }
}
