$page-background-color: white;
$page-header-border-color: black;
$event-even-background-color: white;
$event-odd-background-color: whitesmoke;

:host {
  width: 100%;
  background-color: $page-background-color;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid $page-header-border-color;
  .page-title {
    font-size: 1.5rem;
    font-weight: bold;
  }
}

.event {
  background-color: $event-even-background-color;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  &:nth-child(odd) {
    background-color: $event-odd-background-color;
  }
}
