@font-face {
  font-family: kenney-future-square;
  src:url('/assets/fonts/Kenney Future.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body {
  height: 100%;
  margin: 0;
}

.mt {
  margin-top: 1rem;
}

.mr {
  margin-right: 1rem;
}

.mb {
  margin-bottom: 1rem;
}

.ml {
  margin-left: 1rem;
}


