@font-face {
  font-family: kenney-future-square;
  src:url('/assets/fonts/Kenney Future.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: Roboto;
}

.mt {
  margin-top: 1rem;
}

.mr {
  margin-right: 1rem;
}

.mb {
  margin-bottom: 1rem;
}

.ml {
  margin-left: 1rem;
}

.alert {
  background-color: #ffe8e6;
  color: #7f2c22;
  padding: 0.5rem;
  border-radius: 5px;
}


