:host {
  background-color: white;
  width: 100%;
}

.event-form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.btn-group {
  display: flex;
  padding: 0 1rem;
  justify-content: flex-end;
  margin-top: 2rem;
}

.custom-checkbox {
  margin-right: 1rem;
  input {
    position: absolute;
    width: 1px;
    height: 1px;
    visibility: hidden;
    overflow: hidden;
    &:hover ~ span{
      border-color: #80A2BB;
    }

    &:focus ~ span {
      border-color: #80A2BB;
    }

    &:checked ~ span {
      background-color: #80A2BB;
      color: white;
    }
  }
  span {
    border: 1px solid #80A2BB;
    border-radius: 5px;
    color: #80A2BB;
    padding: 0.25rem;
  }
}

::ng-deep {
  .dp-picker-input {
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 1rem;
  }
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #80A2BB;
  color: white;
  .page-title {
    font-size: 1.5rem;
    font-weight: bold;
  }
}
